<div class="container-data-link">
  <ng-icon name="ionReorderFourOutline" />
  <div class="container-info-link">
    <h2 class="link-title">
      {{ dataLink().title }}
      <span>
        <app-custom-btn
          [isOnlyIcon]="true"
          iconSrc="ionPencilSharp"
          backgroundColor="transparent"
          color="#94A3B8"
          fontSize="16px"
          width="1rem"
          borderWidth="0px"
        />
      </span>
    </h2>
    <p class="link-url">{{ dataLink().url }}</p>
  </div>
  <div class="container-btn-actions">
    <!-- <p>es activo: {{dataLink().isactive}}</p> -->
    <mat-slide-toggle
      [checked]="dataLink().isactive"
      (change)="toogleActive($event.checked)"
    ></mat-slide-toggle>
    <app-custom-btn
      [isOnlyIcon]="true"
      iconSrc="ionTrashSharp"
      backgroundColor="transparent"
      color="#94A3B8"
      fontSize="16px"
      width="1rem"
      borderWidth="0px"
    />
  </div>
</div>
