<main>
  <section class="section-links">
    <header>
      <h1>Manage Link</h1>
      <p>Create, edit, delete and reorder your profile links</p>
    </header>
    <app-custom-btn
      [isOnlyIcon]="false"
      backgroundColor="#5B13EC"
      color="#fff"
      fontSize="18px"
      width="100%"
      label="Add new Link"
      directionIcon="left"
      iconSrc="ionAddSharp"
      borderRadius="12px"
      borderWidth="0px"
      padding="14px"
      (onClick)="openAddLink()"
    />
    <section class="container-links">
      @if (loadingLinksSignal()) {
        <p>Cargando...</p>
      } @else if (errorLinksSignal()) {
        <p>Error al obtener los links</p>
      } @else {
        @for (item of dataLinks(); track item.id || $index) {
          <app-container-data-link
            [dataLink]="item"
            (onUpdate)="updateLinkInState($event)"
            (onDeleteLinkId)="deleteLinkInState($event)"
          />
        }
      }
    </section>
  </section>
  <aside class="section-preview">
    <header>
      <h1>Preview</h1>
      <p>Preview of your profile</p>
    </header>
    <section class="container-preview">
      @if (loadingPreviewSignal()) {
        <p>Cargando...</p>
      } @else if (errorPreviewSignal()) {
        <p>Error al obtener la informacion de preview</p>
      } @else {
        <figure>
          <img [src]="dataPreview()?.pictureUrl" alt="profile-user" />
        </figure>
        <h3>{{ dataPreview()?.username }}</h3>
        <p>{{ dataPreview()?.description }}</p>
        <ul>
          @for (item of dataPreview()?.links; track item.id) {
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          }
        </ul>
      }
    </section>
  </aside>
</main>
