@use '_variables.scss' as v;

section.container-group-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .container-label-ancor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    label {
      position: relative;
      z-index: 2;

      &.label-login {
        color: v.$text-label-login;
      }
      &.label-register {
        color: v.$text-label;
      }
    }

    a {
        position: relative; 
        z-index: 1;
        width: fit-content;
        color: v.$text-link;
        text-decoration: none;
        display: inline-block; 
        line-height: normal; 
    }
 }

  .box-input-icon {
    border: 2px solid v.$bg-btn-primary-30;
    border-radius: 8px;
    background: v.$bg-btn-primary-05;
    padding: 16px;
    display: flex;
    gap: 8px;
    &.login{
      background: v.$bg-btn-primary-05;
      border: 1px solid v.$bg-btn-primary-30;
    }
    &.register{
      background: v.$bg-input-50;
      border:1px solid v.$border-input;
    }
    input {
      background: transparent;
      border: none;
      flex: 1;
      &:focus-visible {
        outline: none;
        border: none;
      }
      &.input-login {
        color: v.$color-text-input;
      }
      &.input-register {
        color: v.$text-primary;
      }
    }
    mat-icon {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
}
