<section class="container-group-input">
  <div class="container-label-ancor">
    @if (existLabel()) {
      <label
        class="label"
        (click)="$event.stopPropagation()"
        [for]="idInput()"
        [style.color]="colorLabel()"
        [style.font-size]="fontsizeLabel()"
        [class.label-login]="typeSeccion() === 'login'"
        [class.label-register]="typeSeccion() === 'register'"
      >
        {{ textLabel() }}
      </label>
    }
    @if (containLink()) {
      <a [routerLink]="routerLinkProp()">{{ textLink() }}</a>
    }
  </div>
  <div
    class="box-input-icon"
    [class.login]="typeSeccion() === 'login'"
    [class.register]="typeSeccion() === 'register'"
  >
    @if (isWithIcon()) {
      @switch (directionIcon()) {
        @case ('R') {
          <input
            [id]="idInput()"
            [type]="typeInput()"
            [required]="requiredInput()"
            [disabled]="disabledInput()"
            [placeholder]="placeholderInput()"
            [style.font-size]="fontSizeInput()"
            [style.color]="colorTextInput()"
            [class.input-login]="typeSeccion() === 'login'"
            [class.input-register]="typeSeccion() === 'register'"
            (input)="onInputChange($event)"
          />
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="isPasswordVisible() ? 'visibility_off' : 'visibility'"
            (click)="togglePasswordVisibility()"
          ></mat-icon>
        }
        @case ('L') {
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="isPasswordVisible() ? 'visibility_off' : 'visibility'"
            (click)="togglePasswordVisibility()"
          ></mat-icon>

          <input
            [id]="idInput()"
            [type]="typeInput()"
            [placeholder]="placeholderInput()"
            [style.font-size]="fontSizeInput()"
            [style.color]="colorTextInput()"
            [class.input-login]="typeSeccion() === 'login'"
            [class.input-register]="typeSeccion() === 'register'"
            (input)="onInputChange($event)"
          />
        }
      }
    } @else {
      <input
        [id]="idInput()"
        [type]="typeInput()"
        [required]="requiredInput()"
        [disabled]="disabledInput()"
        [placeholder]="placeholderInput()"
        [style.font-size]="fontSizeInput()"
        [style.color]="colorTextInput()"
        [class.input-login]="typeSeccion() === 'login'"
        [class.input-register]="typeSeccion() === 'register'"
        (input)="onInputChange($event)"
      />
    }
  </div>
  @if (isVisibleMessage()) {
    <div class="box-message">
      @switch (typeMessage()) {
        @case ('sucess') {
          <p class="sucess">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="check"
            ></mat-icon>
            {{ textMessage() }}
          </p>
        }
        @case ('error') {
          <p class="error">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="error"
            ></mat-icon>
            {{ textMessage() }}
          </p>
        }
      }
    </div>
  }
</section>
