<button
  class="btn-custom"
  (click)="handleBtnClick()"
  [style.background-color]="backgroundColor()"
  [style.color]="color()"
  [style.width]="width()"
  [style.border-color]="borderColor()"
  [style.border-radius]="borderRadius()"
  [style.border-width]="borderWidth()"
  [style.padding]="padding()"
  [class.direction-left]="directionIcon() === 'left'"
  [class.direction-right]="directionIcon() === 'right'"
>
  @if (isOnlyIcon()) {
    <ng-icon [name]="iconSrc()" />
  } @else if (iconSrc()) {
    <ng-icon [name]="iconSrc()" />
    <span [style.font-size]="fontSize()">{{ label() }}</span>
  } @else {
    <span [style.font-size]="fontSize()">{{ label() }}</span>
  }
</button>
