/*variables de colores*/
$text-primary:#94A3B8;
$text-secondary:#FFFFFF;
$border-input:#334155;
$bg-input:#1E293B;
$bg-primary:#161022;
$bg-btn-primary:#5B13EC;
$text-link:#5B13EC;
$text-message:#5B13EC;
$text-label:#CBD5E1;
$text-btn-login:#E2E8F0;
$bg-container-auth-primary:#0F172A;
$border-container-auth-primary:#5B13EC;

