/*variables de colores*/
$text-primary: #94a3b8;
$text-secondary: #ffffff;
$border-input: #334155;
$bg-input: #1e293b;
$bg-input-50: rgba($bg-input, 0.5);
$color-text-input: #64748b;
$bg-primary: #161022;
$bg-btn-primary: #5b13ec;
$bg-btn-primary-05: rgba($bg-btn-primary, 0.05);
$bg-btn-primary-10: rgba($bg-btn-primary, 0.1);
$bg-btn-primary-30: rgba($bg-btn-primary, 0.3);
$text-link: #5b13ec;
$text-message: #5b13ec;
$text-label: #cbd5e1;
$text-label-login: #e2e8f0;
$text-btn-login: #e2e8f0;
$bg-container-auth-primary: #0f172a;
$bg-container-auth-primary-50: rgba($bg-container-auth-primary, 0.5);
$border-container-auth-primary: #5b13ec;
$bg-container-data-link: #221933;
$border-color-data-link: #2F2348;
