<header>
  <mat-toolbar>
    <!-- <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <app-custom-btn
      [isOnlyIcon]="true"
      iconSrc="ionHome"
      backgroundColor="transparent"
      color="#FFF"
      fontSize="1rem"
      width="5rem"
      borderRadius="50px"
      borderWidth="2px"
      borderColor="transparent"
      (onClick)="redirectToHome()"
    />
    <span class="example-spacer"></span>
    <div class="container-btn-auth">
      <app-custom-btn
        [isOnlyIcon]="false"
        label="Login"
        backgroundColor="transparent"
        color="#FFF"
        fontSize="1rem"
        width="5rem"
        borderRadius="50px"
        borderWidth="2px"
        borderColor="green"
        (onClick)="redirectToLogin()"
      />
      <app-custom-btn
        [isOnlyIcon]="false"
        label="Sign Up Free"
        backgroundColor="#5B13EC"
        color="white"
        fontSize="16px"
        width="132px"
        borderRadius="8px"
        padding="10px 24px"
        (onClick)="redirectToSignUp()"
      />
    </div>
  </mat-toolbar>
</header>
