@use '_variables' as v;
section{
    border: 2px solid white;/*tmp*/
    display: flex;
    align-items: center;
    justify-content: center;
    .box-login{
        //border: 2px solid red;/*tmp*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        .container-title-description{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            h1{
                color: v.$text-secondary;
            }
            p{
                color: v.$text-primary;
            }
        }
        .container-action-login{
            .box-btn-login-social{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            .box-separator{
                border: 2px solid red;/*tmp*/
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                hr{
                    width: 90%;
                }
            }
        }
    }
}